@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body
  font-family 'Open Sans', sans-serif

#content
  margin: auto
  width max-content
  max-width: 40em
  background-color: #fff
  padding: 3em

h1,h2,h3,h4,h5
  text-align: center

h2
  margin-block-start 2em

footer
  display: block
  width max-content
  margin 0 auto

.launch-button
  display: block
  width: max-content
  margin: auto
  padding: 10px
  border-radius: 5px
  border: 1px solid black

.logo, .screenshot
  max-width: 100%
  margin auto

.vartiste-url
  margin auto
  display block
  width fit-content
  text-align: center
  text-decoration: none

.instructions p img, .instructions li img, .asset
  filter invert()
  vertical-align: bottom
  height 1.3em

iframe
  display: block
  margin auto

.twitter-timeline.twitter-timeline-rendered
  display block !important
  margin auto
  border 1px solid black !important

#gallery-content
  display flex
  justify-content: center
  flex-wrap: wrap

.gallery-entry
  width: 250px
  border 1px solid black
  border-radius: 5px
  color #eee
  text-decoration: none
  background-color: #333
  margin 5px

  figure
    margin: 0
    padding: 0
  img
    margin-top 10px
    margin-left 25px
  figcaption
    text-decoration: underline
    font-weight: bold
    text-align: center
    font-variant: small-caps
    font-size: 150%
  p
    padding 15px

.guide
  img
    max-width: 95%
    margin: auto
